In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
df = pd.DataFrame()
df = df.append(pd.read_excel('TeamsCode_Registration_Data/MIHS/Spring_2017_MIHS_Registration.xlsx', na_filter=False))
df.head()

   Size                    Name  Division                     School Language
0     3                 JJKings  Advanced  Mercer Island High School     Java
1     1               Blue Noun  Advanced  Mercer Island High School       C#
2     3  The Flat Earth Society  Advanced  Mercer Island High School     Java
3     3     Dystopic Dynausaurs  Advanced     Tesla STEM High School   Python
4     3                Failures  Advanced  Mercer Island High School       C#

In [36]:
df['Size'].count()

42

In [40]:
print('Team Sizes:')
df.groupby('Size').size()

Team Sizes:

Size
1     8
2     6
3    28
dtype: int64

In [44]:
df['Size'].mean()

2.4761904761904763

In [47]:
df.groupby('Language').size().sort_values(ascending=False)

Language
Java      33
Python     5
C#         3
C++        1
dtype: int64

In [50]:
df.groupby('Division').size()

Division
Advanced        18
Intermediate    24
dtype: int64

In [49]:
df.groupby('School').size().sort_values(ascending=False)

School
Newport High School              8
Garfield High School             6
Mercer Island High School        6
Odle Middle School               3
Bellevue High School             2
Bishop Blanchet High School      2
Interlake High School            2
Tesla STEM High School           2
Issaquah High School             1
Catlin Gabel School              1
Islander Middle School           1
Willows Preparatory School       1
Lake Oswego High School          1
Lakeside Middle School           1
Mountlake Terrace High School    1
Seattle Preparatory School       1
Skyline High School              1
Tahoma High School               1
Lynnwood High School             1
dtype: int64